[Unit]
Description=Docker Registry Proxy
Requires=registry.service
After=registry.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/skydns/config
TimeoutStartSec=10min
ExecStartPre=/bin/sh -c "docker history dockerfile/nginx:latest >/dev/null || docker pull dockerfile/nginx:latest"
ExecStartPre=/usr/bin/etcdctl set /skydns/${DOMAIN_PATH}/registry '{"host":"${COREOS_PUBLIC_IPV4}"}
ExecStart=/usr/bin/docker run --name %n -p 80:80 -p 443:443 \
        -v /home/core/share/registry-conf/nginx/sites-enabled:/etc/nginx/sites-enabled \
        -v /home/core/share/registry-conf/nginx/certs:/etc/nginx/certs \
        -v /home/core/share/data/log/nginx:/var/log/nginx \
        --rm dockerfile/nginx:latest 
ExecStopPost=/usr/bin/etcdctl rm /skydns/${DOMAIN_PATH}/registry
RestartSec=3
Restart=always

[X-Fleet]
MachineOf=registry.service